[build]
  command = "npm run build"
  functions = "api"
  publish = "public"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@prisma/client"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200
